.container {
  display: block;
  width: 99.9%;
  height: 100vh;
  /* overflow: hidden; */
}
.blur {
  position: absolute;
  backdrop-filter: blur(10px);
  background: rgb(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  z-index: 20;
}
.selector {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 47px;
  height: 32px;
  padding: 0px 8px;
  margin-inline: 5px;
  border: 1px solid #858594;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #212327;
  color: #ffffff;
  font-size: 14px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 24px;
  outline: none;
}
.selectorContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  z-index: 2;
}

.selected {
  background-color: #a8bba5;
}
.timerCompleted {
  height: 4px;
  background-color: #07ce07;
  border-radius: 8px;
  animation-name: timer;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.msg {
  position: absolute;
  font-size: 2rem;
  color: #ffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
}
.bubbleInfo {
  width: 100%;
}

.bubbleInfoHeader{
  background-color: #363f43;
  font-size: 14px;
  padding: 10px 2px;
}

.bubbleInfoCell{
  font-size: 14px;
  padding: 6px 2px;
}

.bubbleInfoHeader, .bubbleInfoCell{
  text-align: center;
}

.specialCell{
  text-align: left;
  min-width: 5vw;
}

.red{
  background-color: #dc0101;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.green{
  background-color: #06d43d;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.link {
  min-width: 200px;
}

.linkContent a{
  text-align: center;
  vertical-align: middle;
}
.linkContent a img{
  margin: 0 3%;
  height: 25px;
}
@keyframes timer {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
