.container {
  margin-top: 80px;
  display: grid;
  grid-template-areas:
    "top top link bio"
    "avatar card1 card2 card3"
    "null1 null1 null1 button"
    "null null null null"
    "null null null null"
    "review review review review";
  grid-template-columns: 1fr 2fr 2fr 2fr;
  gap: 10px;
  padding: 30px 5%;
}
.background {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  z-index: 2;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #363f43;
  border-radius: 10px;
  height: 53px;
  padding: 20px;
  grid-area: top;
}
.name {
  color: #f8f8f8;
  font-size: 32px;
  font-weight: 500;
  line-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.request {
  z-index: 10;
}
.addr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f8f8f8;
  font-size: 24px;

  font-weight: 500;
  line-height: 28px;
}
.link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-area: link;
}
.link > a {
  margin: 0 10px;
}
.avatarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f8f8f8;
  font-size: 14px;
}
.avatar {
  width: 171px;
  height: 171px;
  background-color: #c2c2c2;
  box-sizing: border-box;
  border-radius: 50%;
  grid-area: avatar;
}
.avatarVerified {
  width: 171px;
  height: 171px;
  background-color: #c2c2c2;
  border: 4px solid #3164f4;
  box-sizing: border-box;
  border-radius: 50%;
  grid-area: avatar;
}
.card1 {
  text-align: left;
  composes: card from "./Profile.common.css";
  grid-area: card1;
}
.card2 {
  composes: card from "./Profile.common.css";
  grid-area: card2;
}
.card3 {
  composes: card from "./Profile.common.css";
  grid-area: card3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.bio {
  display: flex;
  flex-direction: column;
  grid-area: bio;
  justify-content: flex-end;
  align-items: flex-end;
}
.bioBtn {
  height: 50%;
  width: fit-content;
  padding: 0px 10px;
  background-color: #919ba1;
  border-radius: 8px;
  border: 2px solid #505050;
  box-sizing: border-box;
  color: #111315;
  font-size: 12px;
  font-weight: bold;
  line-height: 23px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.info1 {
  /* max-width: 214px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 5px;
  text-wrap: nowrap;
  width: 220px;
  composes: info from "./Profile.common.css";
}
.info1_prime {
  width: 150px;
}
.value1 {
  width: 100%;
}
.info2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  composes: info from "./Profile.common.css";
}
.info3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  composes: info from "./Profile.common.css";
}
.switches {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.switch {
  cursor: pointer;
  padding: 0px 8px;
  margin: 0 5px;
  border: 1px solid #858594;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #212327;
  color: #ffffff;
  font-size: 14px;

  line-height: 24px;
  outline: none;
}
.switch:hover {
  background-color: #363f43;
}
.infoValue {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.value {
  color: #f8f8f8;
  font-size: 24px;
  text-wrap: nowrap;
  font-weight: 400;
  line-height: 28px;
}
.value_1 {
  color: #06c022;
  font-size: 18px;

  font-weight: 500;
  line-height: 22px;
}
.value_2 {
  color: #ffffff;
  font-size: 18px;

  font-weight: 500;
  line-height: 22px;
}
.reviews {
  grid-area: review;
}
.textarea {
  height: 132px;
  width: 100%;
  padding: 10px;
  background-color: #363f43;
  grid-area: review;
  color: #ffffff;
  font-size: 19px;

  line-height: 24px;
  border: none;
  outline: none;
  resize: none;
}
.inputContainer {
  display: flex;
  justify-content: space-between;
  background-color: #363f43;
  align-items: center;
  padding: 10px;
}
.btnContainer {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.btnContainer > * {
  margin: 5px;
}

.header {
  color: #f8f8f8;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
}
.radioContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #f8f8f8;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  cursor: pointer;
  border-radius: 10px;
}
.radioContainer:hover {
  background-color: #212327;
}
input[type="radio"] {
  opacity: 0;
  position: absolute;
  cursor: pointer;
}
.selected {
  background-color: #4369ee;
  border: 0.01px solid #858594;
}
.selected:hover {
  background-color: #718ae6;
}
.btn {
  composes: btn from "./Profile.common.css";
}
.requestBtn {
  composes: btn from "./Profile.common.css";
  width: 130px;
  margin-left: auto;
  z-index: 10;
  grid-area: button;
}
.submitBtn:hover {
  background-color: #3164f4;
}
.dividerHorizontal {
  width: 100%;
  height: 3px;
  background-color: #c2c2c2;
  border-radius: 76px;
}

.successMessage {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 300px;
  border: 1px solid #06c022;
  background-color: #363f43;
  color: #06c022;
  font-size: 24px;
  border-radius: 8px;
  font-weight: 500;
  line-height: 28px;
  padding: 10px;
  z-index: 100;
}
.failedMessage {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 500px;
  height: 300px;
  border: 1px solid #c10004;
  background-color: #363f43;
  color: #c10004;
  font-size: 24px;
  border-radius: 8px;
  font-weight: 500;
  line-height: 28px;
  padding: 10px;
  z-index: 100;
}
.negative {
  color: #be0215;
}