.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  background-color: #363f43;
  text-wrap: nowrap;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #06c022;
  font-size: 1vw;
  margin: 0.625em 0 0.625em 0.625em;
}
.container:after{
  content: "";
  display: block;
  clear: both;
}
.imageContainer{
  width: 10px;
  margin-left: 13%;
  margin-right: 15%;
}
.image{
  width: 3.75em;
  height: 3.75em;
  /* margin-left: 225%; */
  background-color: #f8f8f8;
  border: 0.25em solid #b4b4b4;
  box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}
.column{
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.column > div{
  color: #f8f8f8;
  font-size: 0.625em;
  font-family: "Roboto";
  font-weight: 500;
  margin: 5px;
}
.description > div{
  line-height: 1.5em;
}
#name{
  color: #f8f8f8;
  font-size: 1.5em;
  font-family: "Roboto";
  font-weight: 500;
}
.green{
  color: #06c022;
}
.red{
  color: #be0215;
}
@media screen and (max-width: 768px){
  .container{
    font-size: 1.5vw;
  }
  .description > div{
    line-height: 2em;
  }
}