.navbar {
  display: flex;
  position: sticky;
  left: 0;
  top: 0;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 5px 20px;
  background-color: #1e1f26;
  box-shadow: 0px 1px 12px rgba(3, 3, 3, 0.32);
  font-size: 1.2vw;
  text-wrap: nowrap;
  z-index: 100000;
}
.logoMenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logoMenu img {
  width: 50%;
}
.link {
  text-decoration: none;
  width: 20%;
}

.dividerVertical {
  min-width: 2px;
  background-color: #ffffff;
  border-radius: 2px;
  margin: 5px;
}
.header {
  color: #ffffff;
  font-size: 1.125em;
  font-weight: 500;
  line-height: 23px;
}
.navButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px 8px;
  border: 0;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.16);
  background-color: #3e3e3f;
  color: #ffffff;
  font-size: 1.125em;
  font-weight: 600;
}
.navButtons > *{
  height: 40px;
}
.searchBar{
  height: 40px;
}
.dividerVertical{
  height: 40px;
}
.navButtons > * {
  margin: 0px 10px;
}
.btn:hover {
  background-color: #5a5a5b;
}
.searchContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  position: relative;
  margin: 0px 5px;
}
.searchBar {
  margin-inline: auto;
  padding: 0px 8px;
  border: 0;
  width: 100%;
  box-sizing: border-box;
  border-radius: 6px;
  background-color: #3d3d3d;
  color: #a8a8a8;
  font-size: 0.875em;
  font-family: "Source Code Pro", "Roboto";
  line-height: 18px;
  outline: none;
}
.searchResult {
  position: absolute;
  top: 130%;
  margin-inline: auto;
  height: auto;
  width: 100%;
  background-color: #1e1f26;
  border: 1px solid #ffffff;
  padding: 10px;
  border-radius: 6px;
  z-index: 10000;
  max-height: 400px;
  overflow-x: hidden;
}
.searchResult::-webkit-scrollbar {
  background-color: transparent;
  width: 10px;
}
.searchResult::-webkit-scrollbar-thumb {
  background-color: #3e3e3f;
  border-radius: 10px;
}

.searchResultItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
  cursor: pointer;
}

.searchResultItem:hover {
  background-color: #3e3e3f;
  border-radius: 6px;
}

.searchResultImg {
  height: 30%;
  width: 30%;
  border-radius: 50%;
}

.searchResultText {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 0.875em;
  font-family: "Source Code Pro", "Roboto";
  line-height: 18px;
  flex-grow: 1;
}
.menu{
  position: fixed;
  top: 15%;
  background-color: #1e1f26;
  right: 0;
  border: 1px solid #ffffff;
  border-radius: 6px;
  margin-inline: 30px;
  z-index: 10;
}
.menuItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}
.name{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.resendLink{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
  color: grey;
  cursor: pointer;
}
.resendLink:hover{
  text-decoration: underline;
}
.menuItem:hover{
  background-color: #3e3e3f;
  border-radius: 6px;
}
.donation{
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 268px;
  padding: 30px 10px;
  background-color: #1e1f26;
  border-radius: 26px;
  border: 2px solid #f8f8f8;
  box-sizing: border-box;
  box-shadow: -1px 1px 5px #ffffff;
  text-align: center;
  z-index: 100;
}

.addressHeader{
  color: #f8f8f8;
  font-size: 1.125em;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 23px;
  text-decoration: underline;
}

.donationText{
  color: #f8f8f8;
  font-size: 0.875em;
  font-family: "Roboto";
  font-weight: 700;
  line-height: 18px;
}

@media (max-width: 1012px){
}