#NavbarWrapper{
    background-color: #1e1f26;
    width: 100%;
}

#NavbarContainer{
    width: 100%;
    display: flex;
}

#LogoMenu{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#LogoPic{
    height: 40px;
    padding-bottom: 3px;
}

#VerticalBar{
    background-color: white;
    height: 40px;
    width: 2px;
    margin-right: 10px
}

#LogoName{
    font-family: "Source Code Pro", 'Montserrat';
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}

#SearchForm{
    /* top: 20px;
    left: 596px; */
    /* width: 296px; */
    /* height: 40px; */
    /* padding: 0px 8px; */
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    border-radius: 6px;
    background-color: #3d3d3d;
}

#SearchInput{
    background-color: transparent;
    color: #d1d1d1;
    font-size: 14px;
    font-family: "Source Code Pro", 'Poppins';
    line-height: 18px;
    outline: none;
    width: 296px;
    height: 40px;
    padding: 0px 8px;
    border: 0px;
    margin: 0px;
}

#SearchInput::placeholder{
    color: #d1d1d1;
}

#NavButtons{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#AddKOL{
    cursor: pointer;
    width: fit-content;
    height: 40px;
    padding: 0px 20px;
    border: 0;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.16);
    background-color: #3e3e3f;
    color: #ffffff;
    font-size: 18px;
    font-family: "Source Code Pro", "Work Sans";
    font-weight: 600;
    line-height: 23px;
    text-align: left;
    outline: none;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

#AddKOLicon{
    width: 32px;
    margin-right: 5px;
}

#ProfileIcon{
    width: 51px;
}