.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/bg.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.header {
  color: #ffffff;
  font-size: 50px;
  font-weight: 700;
  line-height: 80px;
  z-index: 1;
}
.dividerHorizontal {
  top: 256px;
  left: 569px;
  width: 339px;
  height: 6px;
  background-color: #948f8f;
  border-radius: 4px;
  z-index: 1;
}
.input {
  top: 282px;
  left: 566px;
  width: 335px;
  height: 44px;
  padding: 10px 20px;
  border: 0;
  box-sizing: border-box;
  border-radius: 100px;
  background-color: #545762;
  color: #ffffff;
  outline: none;
  margin: 5px 0;
  z-index: 1;
}
.input::placeholder {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
.logo {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 40%;
  height: 30%;
  border-radius: 8px;
  opacity: 0.25;
  background-image: url(../../assets/logo.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.buttonContainer {
  z-index: 1;
}
.buttonFade {
  top: 398px;
  left: 566px;
  width: 146px;
  height: 42px;
  padding: 0px 8px;
  border: 0;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: transparent;
  border: 2px solid #3f2a7b;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  line-height: 29px;
  outline: none;
  z-index: 1;
}
.buttonFade:hover {
  background-color: #3f2a7b;
}
.button {
  cursor: pointer;
  top: 398px;
  left: 745px;
  width: 146px;
  height: 42px;
  padding: 0px 8px;
  border: 0;
  margin: 5px;
  box-sizing: border-box;
  border-radius: 50px;
  background-color: #2c1f51;
  color: #ffffff;
  font-size: 22px;
  font-weight: 500;
  line-height: 29px;
  outline: none;
  z-index: 1;
}
.button:hover {
  background-color: #3f2a7b;
}
.error {
  color: red;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  z-index: 1;
}
.text {
  color: #f1f4f4;
  font-size: 24px;

  font-weight: 400;
  line-height: 28px;
  z-index: 1;
}
.ssoBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: 204px;
  height: fit-content;
  padding: 3px 10px;
  border: 0;
  box-sizing: border-box;
  border-radius: 16px;
  background-color: #f1f4f4;
  outline: none;
  z-index: 1;
}
.ssoText {
  color: #000000;
  margin: 0px 8px;
  font-size: 14px;

  font-weight: 500;
  line-height: 18px;
  width: fit-content;
  z-index: 1;
}
.verificationMsg {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
  color: #f8f8f8;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  z-index: 2;
}
.ssoContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.ssoContainer > button{
  margin: 0 5px;
}