#bodyWrapper {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#homeContent{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

#banner{
  width: 90%;
  height: 230px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

#King {
  width: 70%;
  height: 75%;
  background-color: #1e1f26;
  border-radius: 8px;
  border: 0.1px solid #ffffff;
  box-shadow: -1px 10px 20px #0f8d07;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1%;
  text-decoration: none;
  color: #ffffff;
  padding: 20px 10px;
}

#KingIcon {
  width: 20%;
  margin: auto 0px;
}

#KingImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18%;
  height: 180%;

  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
.fire{
  background-image: url('/King_of_KOLs.gif');
}
#avatar{
  /* position: absolute; */
  border-radius: 100%;
  /* height: 160px; */
  height: 56%;
  margin-top: 1%;
  /* margin-bottom: 5px; */
  z-index: 100;
}


#KingInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin-right: 3%;
}

#KingName {
  font-family: "Source Code Pro", "Roboto";
  font-weight: bolder;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: fit-content;
  max-width: 100%;
}

#KingCrown {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#KingCrown img{
  width: 55px;
}

#nameOfKing {
  letter-spacing: -2px;
}

#KingAddr {
  font-family: "Source Code Pro", "Roboto";
  font-weight: 500;
  font-size: 20px;
  margin: 0;
}
#KingAddr img {
  height: 24px;
  margin-left: 10px;
}

#verificationText {
  font-family: "Source Code Pro", "Roboto";
  font-weight: 500;
  font-size: 16px;
  color: #3164f4;
}

#starContainer {
  padding: 10px;
  width: 28%;
  background-color: #1e1f26;
  box-shadow: -1px 10px 20px #0f8d07;
  border-radius: 8px;
  border: 0.1px solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: 70px auto; */
}
#starHeader{
  width: 248px;
  height: 31px;
  border-radius: 8px;
  background-image: url("/rising_stars.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
#starBody{
    display: flex;
    width: 105%;
    justify-content: center;
    align-items: center;
}
.starColumn{
  width: 48%;
}

.kingElement {
  width: 100px;
  height: 100px;
  background-color: #bcc4ff;
}

.KingStats {
  width: fit-content;
  height: 100%;
  font-family: "Source Code Pro", "Roboto";
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-wrap: nowrap;
}

.KingStats2 {
  width: fit-content;
}

.KingStats p span {
  color: #06c022;
  font-family: "Source Code Pro", "Roboto";
  font-weight: bold;
}
.KingStats p{
  text-wrap: nowrap;
  margin: 0;
}
.negative{
  color: #be0215 !important;
}
.loading {
  background: #1e1f26;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}