#bodyWrapper {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

#homeContent{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

#banner{
  width: 90%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
}

#King {
  width: 70%;
  height: 10em;
  background-color: #1e1f26;
  border-radius: 8px;
  border: 0.1px solid #ffffff;
  box-shadow: -1px 10px 20px #0f8d07;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1%;
  text-decoration: none;
  color: #ffffff;
  font-size: 1vw;
  padding: 0.8em 0.625em;
}

.KingLeft{
  display: flex;
  height: 100%;
  justify-content: space-around;
  flex-grow: 1;
}
/* .KingLeft > *{
  float: left;
  width: 50%;
} */

#KingIcon {
  height: 6em;
  margin: auto 0px;
}
#KingImg{
  display: flex;
  justify-content: center;
  align-items: center;
}
#KingImgGif {
  width: 8em;
  height: auto;
}
/* .fire{
  background-image: url('/King_of_KOLs.gif');
  background-position: center;
  background-size: auto 150%;
  background-repeat: no-repeat;
} */
#avatar{
  position: absolute;
  border-radius: 100%;
  width: 8em;
  padding: 0.5em;
  /* margin-bottom: 5px; */
  z-index: 100;
}


#KingInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: fit-content;
}


#KingCrown {
  height: 2em;
}
#KingCrown img{
  width: 55px;
}

#nameOfKing {
  font-family: "Source Code Pro", "Roboto";
  font-weight: bolder;
  font-size: 2em;
  letter-spacing: -0.01em;
}

#KingAddr {
  font-family: "Source Code Pro", "Roboto";
  font-weight: 500;
  font-size: 1.25em;
  margin: 0;
}
#KingAddr img {
  height: 1.5em;
  margin-left: 10px;
}

#verificationText {
  font-family: "Source Code Pro", "Roboto";
  font-weight: 500;
  font-size: 1em;
  color: #3164f4;
}

#starContainer {
  padding: 0.625em;
  width: 28%;
  background-color: #1e1f26;
  box-shadow: -1px 10px 20px #0f8d07;
  border-radius: 0.5em;
  border: 0.1px solid #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1vw;
  /* margin: 70px auto; */
}
#starHeader{
  width: 15.5em;
  height: 2em;
  border-radius: 8px;
  background-image: url("/rising_stars.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
}
#starBody{
    display: flex;
    width: 105%;
    justify-content: center;
    align-items: center;
}
.starColumn{
  width: 48%;
}

.kingElement {
  width: 100px;
  height: 100px;
  background-color: #bcc4ff;
}

.KingStats {
  width: fit-content;
  height: 100%;
  font-family: "Source Code Pro", "Roboto";
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-wrap: nowrap;
}

.KingStats p span {
  color: #06c022;
  font-family: "Source Code Pro", "Roboto";
  font-weight: bold;
}
.KingStats p{
  text-wrap: nowrap;
  margin: 0;
}
.KingRight{
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
  height: 100%;
}
.negative{
  color: #be0215 !important;
}
.loading {
  background: #1e1f26;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@media screen and (max-width: 768px) {
  #starContainer{
    height: 30em;
    justify-content: space-around;
  }
  #King{
    width: 60%;
    height: 30em;
    border-radius: 5em;
  }
  .KingRight{
    align-items: center;
    flex-direction: column;
    font-size: 2vw;
  }
  .KingLeft{
    align-items: center;
    flex-direction: column-reverse;
    font-size: 2vw;
  }
  #KingImg{
    position: relative;
    bottom: 2em;
  }
  #avatar{
    /* height: 12em;
    width: 12em; */
  }
  #KingImgGif {
  }
  #KingIcon{
    position: relative;
    height: 3em;
    bottom: 4em;
    width: auto;
  }
  #KingInfo{
    flex-grow: 1;
    font-size: 2vw;
  }
  #banner{
    margin-top: 1em;
  }
  #starContainer{
    width: 38%;
    border-radius: 5em;
  }
}