.footerText{
    text-align: center;
    font-family: "Source Code Pro", "Roboto";
    font-size: 1.2vw;
    padding: 1% 0px;
}

.footerLink{
    text-decoration: underline;
    color: #f8f8f8;
    padding: 0px 1%;
}

.footerLink svg{
    height: 1em;
}