.domainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background-color: #363f43;
  margin: 1em 2px;
}

@media (max-width: 900px) {
  .domainContainer {
    height: 2.5rem;
  }
}

@media (max-width: 700px) {
  .domainContainer {
    height: 2rem;
  }
}