.name {
  color: #f8f8f8;
  font-size: 1.5em;
  font-weight: 700;
}
.container {
  width: 100%;
  background-color: #363f43;
  margin: 10px 0;
  padding: 5px;
}
.top {
  display: flex;
  justify-content: space-between;
}
.review {
  display: flex;
  align-items: center;
  color: #f8f8f8;
  font-size: 1.125em;
  font-weight: 500;
}
.review > svg{
  height: 1em;
}
.date {
  color: #f8f8f8;
  font-size: 1em;
  font-weight: 500;
  line-height: 21px;
}
.text {
  color: #f8f8f8;
  font-size: 1em;
  font-weight: 500;
  line-height: 2em;
  padding: 20px;
}

.reviewCounts {
  display: flex;
  justify-content: flex-end;
}
.count {
  background-color: #2c2c2f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1em;
  border: 1px dotted #505050;
  box-sizing: border-box;
  padding: 0.1em 1.5em;
  margin: 5px;
  color: #f8f8f8;
  font-size: 1em;
  gap: 0.5em;
  font-weight: 500;
  cursor: pointer;
}
.count_disabled{
  cursor: not-allowed;
}
.count:hover {
  background-color: #505050;
}
.count > svg{
  height: 1em;
}
.selected{
  background-color: #3164f4;
}
.selected:hover{
  background-color: #3165f4ee;
}
input[type="radio"]{
  opacity: 0;
  position: absolute;
}
.error{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  margin-inline: auto;
  width: fit-content;
  background-color: #2c2c2f;
  padding: 10px;
  color: red;
  font-size: 1em;
  font-weight: 500;
  line-height: 19px;
}