*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  color: #f8f8f8;
}

body, html, #root{
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #111315;
  background-image: url("/page_bg.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}