.container{
  font-size: 1vw;
}
.header{
  color: #eeeef3;
  font-size: 2.6em;
  font-family: "Source Code Pro", "Roboto";
  font-weight: 800;
  text-align: center;
  margin: 2em 0 1em 0;
}

.headerP {
  color: #6f8591;
  font-size: 0.8em;
  font-family: "Source Code Pro", "Roboto";
  font-weight: 700;
  text-align: center;
}

.faqList {
  margin-inline: 20em;
  margin-bottom: 10em;
}

.faqItem {
  margin: 1em 0px;
  padding: 1.5em;
  background-color: #0f0f18;
  color: #f8f8f8;
  border-radius: 1.5em;
  height: fit-content;
}

.question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #d9e0ec;
  font-size: 1em;
  font-family: "Source Code Pro", "Roboto";
  font-weight: 800;
}

.faqToggleBtn {
  background-color: transparent;
  border: none;
  height: 23px;
}

.faqToggleBtn:hover {
  height: 25px;
}

.answer {
  margin-top: 2em;
  text-align: left;
  padding-left: 1.5em;
  color: #f7f7f7;
  font-size: 0.8em;
  font-family: "Source Code Pro", "Roboto";
}

@media (max-width: 768px) {
  .header {
    font-size: 5em;
  }
  .headerP {
    font-size: 4em;
  }
  .faqList {
    margin-inline: 2em;
  }
  .faqItem {
    padding: 1em;
  }
  .question{
    font-size: 2em;
  }
  .answer {
    font-size: 1.8em;
  }
}